<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>18</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>17</string>
					<key>Timestamp</key>
					<string>721661386.550662</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherApp/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                MainWeatherStatus(imageName: isNight ?"moon.stars.fill" :"sun.max.fill", temperature: isNight ? 13:42)
</string>
				<key>leading</key>
				<string>            VStack(){
               CityTextView(cityName: "İstanbul")
</string>
				<key>trailing</key>
				<string>                HStack(spacing:20){
                    WeatherDayView(dayName: "PZT",
                                   imageName: "cloud.sun.bolt.fill",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>18</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>17</string>
					<key>Timestamp</key>
					<string>721661386.5506279</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherApp/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                MainWeatherStatus(imageName: isNight ?"moon.stars.fill" :"sun.max.fill", temperature: isNight ? 13:42)
</string>
				<key>leading</key>
				<string>            VStack(){
               CityTextView(cityName: "İstanbul")
</string>
				<key>trailing</key>
				<string>                HStack(spacing:20){
                    WeatherDayView(dayName: "PZT",
                                   imageName: "cloud.sun.bolt.fill",
</string>
			</dict>
			<key>title</key>
			<string>dfd</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>18</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>17</string>
					<key>Timestamp</key>
					<string>721661386.55065</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherApp/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                MainWeatherStatus(imageName: isNight ?"moon.stars.fill" :"sun.max.fill", temperature: isNight ? 13:42)
</string>
				<key>leading</key>
				<string>            VStack(){
               CityTextView(cityName: "İstanbul")
</string>
				<key>trailing</key>
				<string>                HStack(spacing:20){
                    WeatherDayView(dayName: "PZT",
                                   imageName: "cloud.sun.bolt.fill",
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeatherApp/ContentView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
